.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
h3 {
    padding: 2%;
}
.popup label {
    font-size: 14px;
    font-weight: bold;
}
.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    width: 16%;
    height: auto;
    border-radius: 2%;
    border: 3px solid #000;
}
.form-control {
    padding: 4px;
}
.id {
    display: none;
}
input[type=submit] {
    width: 100%;
    height: 24px;
    font-size: 14px;
    background-color: #cadebd;
    border: none;
    border-radius: 5px;
}
input[type=submit]:hover {
    background-color: #a3c9a6;
    color: #fff;
}
input[type=time] {
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: helvetica;
    width: 124px;
}
input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
}
input[type=time]::-webkit-datetime-edit-text {
    padding: 12px 2px;
}
input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: gainsboro;
    border-radius: 15%;
    padding: 12px 13px;
}
input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: gainsboro;
    border-radius: 15%;
    padding: 12px 13px;
}
